%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner.container
    %nav
      %ul.nav
        %b
          = link_to "SAMPLE APP", root_path, id: "logo"
        %li.navbar-right= link_to "Sign in", '#'
        %li.navbar-right= link_to "Help",    help_path
        %li.navbar-right= link_to "Home",    root_path
